/* Tabel */
table td,
table th {
  text-align: center;
  vertical-align: middle;
}

/* Label Form */
label {
  font-weight: bold;
}

/* Badge Notifikasi */
.badge {
  font-size: 0.75em;
}

.badge.bg-danger {
  font-size: 0.85em;
  margin-top: 4px;
  display: inline-block;
}

/* Posisi Relatif untuk Tombol Notifikasi */
.position-relative {
  display: inline-block;
}

/* Sidebar Navigasi */
.sidebar {
  width: 220px;
  background-color: #343a40;
  color: white;
  padding: 20px;
  min-height: 100vh
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

/* Konten Utama */
.content {
  flex-grow: 1;
  padding: 30px;
  margin-left: 220px; /* Sesuai lebar sidebar */
}
